
h1::first-letter { font-size: 80px; font-weight: bold; color: #ffffff; }
h1 { font-family: 'Merriweather', serif; font-size: 36px; color: #333; }


header .col-text h2, .col-1 > h3 { line-height: 1.8 }
h2 { font-family: 'Lobster', cursive; font-size: 40px; color: #2a9d8f; }


header.theme-dark { background-color: var(--teal-900) }
header.theme-dark h1 span.highlight { color: var(--red-900) }
header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { color: var(--white-000) }

header.theme-dark h2 { color: var(--green-400) }

footer.theme-dark   { background-color: var(--teal-900) }